@font-face {
    font-family: "Jet Brains Mono";
    src: url(../sources/font/JetBrainsMono-Regular.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --sombre: #181818;
    --poudre: #654A61;
    --iris: #560D4A;
    --cerise: #7B0D42;
    --ultramagenta: #B83EA5;
    --noir: #000000;
    --blanc: #ffffff;
}

@media screen and (min-width: 800px) {


    body {
        background-color: var(--sombre);
        flex-wrap: wrap;
        display: flex;
        margin: 0;
    }

    .texte {
        width: 22.5vw;
        padding: 1vw;
        margin-left: 10px;
    }

    .swiper {
        width: 73vw;
        height: 83vh;
        margin-top: 8vh;
        margin-right: 1vw;
        border: solid 6px var(--noir);
    }

    .swiper-slide {
        position: relative;
    }

    .swiper-button-next {
        color: var(--blanc);
        padding-right: 30px;
        top: 90%;
    }

    .logo_titre {
        position: absolute;
        top: 0;
        left: 1vw;
        width: 100%;
        max-width: 470px;
        z-index: 10;
    }

    .intro {
        padding-top: 31vh;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 20px;
    }

    .email {
        padding-top: 3vh;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 14px;
    }

    .descriptif {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 15px;
    }

    .icons {
        display: flex;
        padding-right: 5vw;
        width: 240px;
        justify-content: space-evenly;
    }

    button {
        background-color: var(--noir);
        border: var(--noir);
    }

    button:hover {
        transform: scale(110%);
    }

    .twitter {
        background-image: url(../sources/twt.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .youtube {
        background-image: url(../sources/yt.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .insta {
        background-image: url(../sources/insta.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .linkedin {
        background-image: url(../sources/linkedin.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .projets {
        width: 100vw;
    }

    .projet01 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    .projet02 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
        background-color: var(--iris);
    }

    .projet03 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .projet04 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .description_case {
        position: absolute;
        background-color: var(--noir);
        width: 300px;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 75%;
    }

    .titre_projet {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10vh;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
    }

    .titre_projet:hover {
        transform: scale(101%);
    }

    .description_projet {
        padding: 0 10px;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
    }

    a:-webkit-any-link {
        color: var(--blanc);
    }

    .titre_q {
        font-family: "Jet Brains Mono";
        text-transform: uppercase;
        color: var(--blanc);
    }

    .sectionp01 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        margin-top: 9vh;
        background-color: var(--noir);
    }

    .sectionp02 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: var(--noir);
    }

    .sectionp03 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: var(--noir);
    }

    .sectionp04 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: var(--noir);
    }

    .lignep01 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--ultramagenta);
        z-index: 12;
    }

    .lignep02 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--iris);
        z-index: 12;
    }

    .lignep03 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--poudre);
        z-index: 12;
    }

    .lignep04 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--cerise);
        z-index: 12;
    }

    .main_image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        object-position: 100% 80%;
        filter: brightness(60%);
    }

    .projet_contenant {
        width: 100%;
        height: 55vh; 
    }

    .main_title {
        position: absolute;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        text-transform: uppercase;
        font-size: 32px;
        margin-top: -50px;
        margin-left: 20px;
    }

    .qualifications {
        width: 100%; 
        margin-top: 9vh;
    }

    .titre_q {
        display: flex;
        justify-content: center;
        font-size: 3em;
        margin: 10px;
    }


    .container {
        display: flex;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        font-family: sans-serif;

    }

    .loop-text {
        font-family: "Jet Brains Mono";
        font-size: clamp(1rem, 2vw, 5.5rem);
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 0.25em;
        color: var(--blanc);
        filter: brightness(50%);
        animation: loopText 25s infinite linear;
    }

    @keyframes loopText {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .text_q {
        display: none;
    }

    .con_log {
        background-color: var(--sombre);
        width: 20vw; 
        height: 100%; 
        margin-left: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .con_log.p01 {
        border: solid 5px var(--ultramagenta); 
    }

    .con_log.p02 {
        border: solid 5px var(--iris); 
    }

    .con_log.p03 {
        border: solid 5px var(--poudre); 
    }

    .con_log.p04 {
        border: solid 5px var(--cerise); 
    }

    .contexte {
        font-family: "Jet Brains Mono";
        color: var(--blanc); 
        text-transform: uppercase;
        margin: 4vh 4vw;
    }

    ul {
        list-style-type: none;
        padding: 0; 
        margin: 0; 
    }

    li {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        text-align: center;
    }

    .last {
        margin-bottom: 4vh;
    }

    .logiciel {
        font-family: "Jet Brains Mono";
        color: var(--blanc); 
        text-transform: uppercase;
        margin: 1vh 4vw;
    }

    .role {
        font-family: "Jet Brains Mono";
        color: var(--blanc); 
        text-transform: uppercase;
        margin: 1vh 4vw;
    }

    .logo_footer {
        margin: 0 auto; 
        width: 100%;
        max-width: 300px;
        z-index: 10;
    }
    

}

@media screen and (min-width: 800px) and (max-width: 1100px) {

    .swiper {
        margin-top: 8vh;
    }

    .intro {
        padding-top: 30vh;
    }

    .icons {
        padding: 0 0.5vw;
        width: 140px;
    }

    .twitter {
        height: 35px;
        width: 35px;
    }

    .youtube {
        height: 35px;
        width: 35px;
    }

    .insta {
        height: 35px;
        width: 35px;
    }

    .linkedin {
        height: 35px;
        width: 35px;
    }

    .description_case {
        width: 250px;
    }

    .titre_projet {
        padding-top: 1vh;
    }

    .qualifications {
        margin-top: 5vh;
    }

    .sectionp01 {
        margin-top: 5vh;
    }

}

@media screen and (max-width: 800px) {

    body {
        background-color: var(--sombre);
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .swiper {
        position: absolute;
        width: 100vw;
        height: 60vh;
    }

    .swiper-button-next {
        display: none;
    }

    .logo_titre {
        position: absolute;
        top: 0;
        left: 1vw;
        max-width: 200px;
        z-index: 10;
    }

    .texte {
        width: 100%;
        padding: 7vw;
        margin-top: 58vh;
    }

    .projet01 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    .projet02 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
        background-color: var(--iris);
    }

    .projet03 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .projet04 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .intro {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 26px;
    }

    .email {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;
        padding-top: 6vh;
        margin-right: 10px;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 14px;
    }

    .descriptif {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 15px;
    }


    .icons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 150px;
        justify-content: space-evenly;
        z-index: 11;
        margin: 10px 10px;
    }

    button {
        background-color: var(--noir);
        border: var(--noir);
    }

    .twitter {
        background-image: url(../sources/twt.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .youtube {
        background-image: url(../sources/yt.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .insta {
        background-image: url(../sources/insta.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .linkedin {
        background-image: url(../sources/linkedin.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .qualifications {
        position: absolute; 
        width: 35%;
        z-index: 12;
        right: 2vw;
        top: 55vh; 
        background-color: var(--sombre);
        border: var(--cerise) 5px solid; 
    }

    .titre_q {
        display: flex;
        justify-content: center;
        font-size: 3vw;
        color: var(--blanc);
        font-family: "Jet Brains Mono";
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .text_q {
        display: flex;
        justify-content: center;
        font-size: 2vw;
        color: var(--blanc);
        font-family: "Jet Brains Mono";
        text-align: center;
        padding: 0 5px;
    }

    .container {
        display: none;
    }

    .main_image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        object-position: 100% 80%;
        filter: brightness(60%);
    }

    .projet_contenant {
        width: 100%;
        height: 35vh; 
    }

    .main_title {
        position: absolute;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        text-transform: uppercase;
        font-size: 18px;
        margin-top: -25px;
        margin-left: 20px;
    }

    .sectionp01 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: #131313;
    }

    .sectionp02 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: #131313;
    }

    .sectionp03 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: #131313;
    }

    .sectionp04 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: #131313;
    }

    .lignep01 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--ultramagenta);
        z-index: 12;
    }

    .lignep02 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--iris);
        z-index: 12;
    }

    .lignep03 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--poudre);
        z-index: 12;
    }

    .lignep04 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--cerise);
        z-index: 12;
    }

    .logo_footer {
        margin: 0 auto; 
        width: 100%;
        max-width: 200px;
        z-index: 10;
    }


}

@media screen and (max-width: 380px) {

    .logo_titre {
        max-width: 180px;
    }

    .icons {
        width: 100px;
    }

    .twitter {
        height: 30px;
        width: 30px;
    }

    .youtube {
        height: 30px;
        width: 30px;
    }

    .insta {
        height: 30px;
        width: 30px;
    }

    .linkedin {
        height: 30px;
        width: 30px;
    }

    .email {
        z-index: 11;
        padding-top: 5vh;
        font-size: 11px;
    }

    .qualifications {
        position: absolute; 
        width: 35%;
        z-index: 12;
        right: 2vw;
        top: 45vh; 
        background-color: var(--sombre);
        border: var(--cerise) 2px solid; 
    }

    .titre_q {
        display: flex;
        justify-content: center;
        font-size: 3.5vw;
        color: var(--blanc);
        font-family: "Jet Brains Mono";
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .text_q {
        display: flex;
        justify-content: center;
        font-size: 3vw;
        color: var(--blanc);
        font-family: "Jet Brains Mono";
        text-align: center;
        padding: 0 5px;
    }

}