@font-face {
    font-family: "Jet Brains Mono";
    src: url(../sources/font/JetBrainsMono-Regular.ttf);
}

* {
    box-sizing: border-box;
}

:root {
    --sombre: #181818;
    --poudre: #654A61;
    --iris: #560D4A;
    --cerise: #7B0D42;
    --ultramagenta: #B83EA5;
    --noir: #000000;
    --blanc: #ffffff;
}

@media screen and (min-width: 800px) {

    body {
        background-color: var(--sombre);
        flex-wrap: wrap;
        display: flex;
        margin: 0;
    }

    /* INTRO --------------------------------------------------------------------------------------------------------*/

    .texte {
        width: 22.5vw;
        padding: 1vw;
        margin-left: 10px;
    }

    .logo_titre {
        position: absolute;
        top: 0;
        left: 1vw;
        width: 100%;
        max-width: 470px;
        z-index: 10;
    }

    .intro {
        padding-top: 31vh;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 20px;
    }

    .email {
        padding-top: 3vh;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 14px;
    }

    .descriptif {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 15px;
    }

    .icons {
        display: flex;
        padding-right: 5vw;
        width: 240px;
        justify-content: space-evenly;
    }

    button {
        background-color: var(--noir);
        border: var(--noir);
    }

    button:hover {
        transform: scale(110%);
    }

    .youtube {
        background-image: url(../sources/yt.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .insta {
        background-image: url(../sources/insta.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .linkedin {
        background-image: url(../sources/linkedin.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }


    /* SWIPER --------------------------------------------------------------------------------------------------------*/

    .swiper {
        width: 73vw;
        height: 83vh;
        margin-top: 8vh;
    }

    .swiper-slide {
        position: relative;
    }

    .swiper-button-next {
        color: var(--blanc);
        padding-right: 30px;
        top: 50%;
    }

    .projets {
        width: 100vw;
    }

    .projet01 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    .projet02 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
        background-color: var(--iris);
    }

    .projet03 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .projet04 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .description_case {
        position: absolute;
        background-color: var(--noir);
        width: 300px;
        height: 20%;
        top: 3%;
        right: 0;
        opacity: 75%;
    }

    .titre_projet {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 3vh;
        font-size: 18px;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
    }

    .titre_projet:hover {
        transform: scale(101%);
    }

    .description_projet {
        padding: 0 10px;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
    }

    .description_projet02 {
        display: none;
        padding: 0 10px;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
    }

    a:-webkit-any-link {
        color: var(--blanc);
    }

    /* QUALIFICATIONS --------------------------------------------------------------------------------------------------------*/

    .qualifications {
        width: 100%;
        margin-top: 9vh;
    }

    .titre_q {
        font-family: "Jet Brains Mono";
        text-transform: uppercase;
        color: var(--blanc);
        display: flex;
        justify-content: center;
        font-size: 3em;
        margin: 10px;
    }


    .container {
        display: flex;
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        font-family: sans-serif;

    }

    .loop-text {
        font-family: "Jet Brains Mono";
        font-size: clamp(1rem, 2vw, 5.5rem);
        text-transform: uppercase;
        font-weight: 700;
        padding: 0 0.25em;
        color: var(--blanc);
        filter: brightness(50%);
        animation: loopText 25s infinite linear;
    }

    @keyframes loopText {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-100%);
        }
    }

    .text_q {
        display: none;
    }

    /* SECTION 01 --------------------------------------------------------------------------------------------------------*/

    .sectionp01 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        margin-top: 9vh;
    }

    .lignep01 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--ultramagenta);
        z-index: 12;
    }

    /* SECTION 02 --------------------------------------------------------------------------------------------------------*/

    .sectionp02 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
    }

    .lignep02 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--iris);
        z-index: 12;
    }

    /* SECTION 03 --------------------------------------------------------------------------------------------------------*/

    .sectionp03 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
    }

    .lignep03 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--poudre);
        z-index: 12;
    }

    /* SECTION 04 --------------------------------------------------------------------------------------------------------*/

    .sectionp04 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
    }

    .lignep04 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--cerise);
        z-index: 12;
    }

    /* MODELE PROJET --------------------------------------------------------------------------------------------------------*/

    .main_image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 80%;
        filter: brightness(50%) blur(4px);
        background-color: var(--sombre);
    }

    .main_title {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        text-transform: uppercase;
        font-size: 32px;
        margin-left: 20px;
        width: 100%;
        z-index: 10;
    }


    .con_log {
        background-color: rgba(0, 0, 0, 0.5);
        width: 27vw;
        height: 100%;
        margin-left: 2vw;
        margin-bottom: 5vw;
        z-index: 12;
    }

    .h2projects {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        text-transform: uppercase;
        margin: 4vh 2vw 2vh 2vw;
    }

    .texte_projet {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        margin: 2vh 2vw 2vh 2vw;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        margin-left: 2vw;
    }

    .last {
        margin-bottom: 4vh;
    }

    .gallerie {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color: rgba(0, 0, 0, 0.5);
        width: 65vw;
        margin-left: 2vw;
        margin-bottom: 5vw;
        z-index: 12;
    }

    .img01 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 5% 0;
        grid-column: span 2; 
    }

    .img02 {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        grid-column: span 2; 
    }

    .img03 {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }

    .img04 {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }

    .img05 {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }

    .img06 {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }

    .gallerie02 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px;
        width: 65vw;
        margin-left: 2vw;
        z-index: 12;
    }

    .img0102 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img0302 {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .resize {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 94% 0;
        transform: scale(105%);
    }

    .img0402 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: span 2; 
    }

    .gallerie03 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 250px;
        width: 65vw;
        margin-left: 2vw;
        z-index: 12;
    }

    .img0103 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: span 2;
    }

    .img0203 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img0403 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 5% 0;
    }

    .img0503 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 60% 0;
    }

    .gallerie04 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 200px;
        width: 50vw;
        margin: 0 auto;
        z-index: 12;
        margin-bottom: 2vh;
    }

    .img0104 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        grid-column: span 3;
    }

    .img0204 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img0304 {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }

    .img0404 {
        width: 100%; 
        height: 100%;
        object-fit: cover;
    }

    

    /* FOOTER --------------------------------------------------------------------------------------------------------*/

    footer {
        width: 100%;
        height: 30vh;
        background-color: var(--sombre);
        z-index: 15;
        display: flex;
    }

    .logo_footer {
        margin: 0 auto;
        width: 100%;
        max-width: 300px;
    }

    .logo_footer:hover {
        transform: scale(101%);
    }

}

@media screen and (min-width: 800px) and (max-width: 1100px) {

    /* INTRO --------------------------------------------------------------------------------------------------------*/

    .intro {
        padding-top: 30vh;
    }

    .icons {
        padding: 0 0.5vw;
        width: 140px;
    }

    .youtube {
        height: 35px;
        width: 35px;
    }

    .insta {
        height: 35px;
        width: 35px;
    }

    .linkedin {
        height: 35px;
        width: 35px;
    }

    /* SWIPER --------------------------------------------------------------------------------------------------------*/

    .swiper {
        margin-top: 9vh;
    }

    .description_case {
        width: 300px;
    }

    /* QUALIFICATIONS --------------------------------------------------------------------------------------------------------*/

    .qualifications {
        margin-top: 5vh;
    }

    /* SECTION 01 --------------------------------------------------------------------------------------------------------*/

    .sectionp01 {
        margin-top: 5vh;
    }

    /* MODELE PROJET --------------------------------------------------------------------------------------------------------*/

    .con_log {
        width: 35vw;
        margin-left: 3vw;
    }

    .h2projects {
        font-size: 19px;
        margin: 2vh 2vw;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        font-size: 14px;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        margin-left: 2vw;
    }

    .last {
        margin-bottom: 4vh;
    }

    .texte_projet {
        font-size: 14px;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        margin: 2vh 2vw 2vh 2vw;
    }

    .gallerie {
        width: 60vw; 
        margin-left: 1vw;
    }

    .gallerie02 {
        width: 60vw; 
        margin-left: 1vw;
    }

    .gallerie03 {
        width: 60vw; 
        margin-left: 1vw;
    }

        /* FOOTER --------------------------------------------------------------------------------------------------------*/

        footer {
            width: 100%;
            height: 40vh;
            background-color: var(--sombre);
            z-index: 15;
            display: flex;
            margin-top: 21px; 
        }

}

@media screen and (max-width: 800px) {

    body {
        background-color: var(--sombre);
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    .swiper {
        position: absolute;
        width: 100vw;
        height: 60vh;
    }

    .swiper-button-next {
        display: none;
    }

    .logo_titre {
        position: absolute;
        top: 0;
        left: 1vw;
        max-width: 200px;
        z-index: 10;
    }

    .texte {
        width: 100%;
        padding: 7vw;
        margin-top: 58vh;
    }

    .projet01 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%);
    }

    .projet02 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);
        background-color: var(--iris);
    }

    .projet03 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .projet04 {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(60%);
    }

    .intro {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 26px;
    }

    .email {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;
        padding-top: 6vh;
        margin-right: 10px;
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 14px;
    }

    .descriptif {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        font-size: 15px;
    }


    .icons {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 150px;
        justify-content: space-evenly;
        z-index: 11;
        margin: 10px 10px;
    }

    button {
        background-color: var(--noir);
        border: var(--noir);
    }

    .twitter {
        background-image: url(../sources/twt.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .youtube {
        background-image: url(../sources/yt.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .insta {
        background-image: url(../sources/insta.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .linkedin {
        background-image: url(../sources/linkedin.svg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .qualifications {
        position: absolute;
        width: 35%;
        z-index: 12;
        right: 2vw;
        top: 55vh;
        background-color: var(--sombre);
        border: var(--cerise) 5px solid;
    }

    .titre_q {
        display: flex;
        justify-content: center;
        font-size: 3vw;
        color: var(--blanc);
        font-family: "Jet Brains Mono";
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .text_q {
        display: flex;
        justify-content: center;
        font-size: 2vw;
        color: var(--blanc);
        font-family: "Jet Brains Mono";
        text-align: center;
        padding: 0 5px;
    }

    .container {
        display: none;
    }

    .main_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 80%;
        filter: brightness(60%);
    }

    .projet_contenant {
        width: 100%;
        height: 35vh;
    }

    .main_title {
        font-family: "Jet Brains Mono";
        color: var(--blanc);
        text-transform: uppercase;
        font-size: 18px;
        margin-top: -25px;
        margin-left: 20px;
    }

    .sectionp01 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: #131313;
    }

    .sectionp02 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: #131313;
    }

    .sectionp03 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: #131313;
    }

    .sectionp04 {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100%;
        background-color: #131313;
    }

    .lignep01 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--ultramagenta);
        z-index: 12;
    }

    .lignep02 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--iris);
        z-index: 12;
    }

    .lignep03 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--poudre);
        z-index: 12;
    }

    .lignep04 {
        position: absolute;
        width: 10px;
        height: 100%;
        display: inline-block;
        background-color: var(--cerise);
        z-index: 12;
    }

        /* MODELE PROJET --------------------------------------------------------------------------------------------------------*/

        .main_image {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 80%;
            filter: brightness(50%) blur(4px);
            background-color: var(--sombre);
        }
    
        .main_title {
            font-family: "Jet Brains Mono";
            color: var(--blanc);
            text-transform: uppercase;
            font-size: 22px;
            margin-left: 20px;
            width: 100%;
            z-index: 10;
            margin-top: 4vh;
            text-align: center;
        }
    
    
        .con_log {
            background-color: rgba(0, 0, 0, 0.5);
            width: 92%;
            height: 100%;
            margin-left: 5vw;
            z-index: 12;
        }
    
        .h2projects {
            font-family: "Jet Brains Mono";
            color: var(--blanc);
            text-transform: uppercase;
            margin: 4vh 2vw 2vh 2vw;
            font-size: 14px; 
        }
    
        .texte_projet {
            font-family: "Jet Brains Mono";
            color: var(--blanc);
            margin: 2vh 2vw 2vh 2vw;
            font-size: 12px; 
        }
    
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    
        li {
            font-family: "Jet Brains Mono";
            color: var(--blanc);
            margin-left: 2vw;
            font-size: 12px; 
        }
    
        .last {
            margin-bottom: 4vh;
        }

        .gallerie {
            background-color: rgba(0, 0, 0, 0.5);
            width: 92vw;
            margin-left: 5vw;
            margin-bottom: 5vw;
            margin-top: 2vh;;
            z-index: 12;
        }
    
        .img01 {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 5% 0;
        }
    
        .img02 {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    
        .img03 {
            width: 100%; 
            height: 300px;
            object-fit: cover;
        }
    
        .img04 {
            width: 100%; 
            height: 300px;
            object-fit: cover;
        }
    
        .img05 {
            width: 100%; 
            height: 300px;
            object-fit: cover;
        }
    
        .img06 {
            width: 100%; 
            height: 300px;
            object-fit: cover;
        }
    
        .gallerie02 {
            background-color: rgba(0, 0, 0, 0.5);
            width: 92vw;
            margin-left: 5vw;
            margin-bottom: 5vw;
            margin-top: 2vh;;
            z-index: 12;
        }
    
        .img0102 {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    
        .img0302 {
            width: 100%;
            height: 300px;
            overflow: hidden;
        }
    
        .resize {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 94% 0;
            transform: scale(105%);
        }
    
        .img0402 {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    
        .gallerie03 {
            background-color: rgba(0, 0, 0, 0.5);
            width: 92vw;
            margin-left: 5vw;
            margin-bottom: 5vw;
            margin-top: 2vh;;
            z-index: 12;
        }
    
        .img0103 {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    
        .img0203 {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    
        .img0403 {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 5% 0;
        }
    
        .img0503 {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: 60% 0;
        }
    
        .gallerie04 {
            background-color: rgba(0, 0, 0, 0.5);
            width: 92vw;
            margin-left: 5vw;
            margin-bottom: 5vw;
            margin-top: 2vh;;
            z-index: 12;
        }
    
        .img0104 {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    
        .img0204 {
            width: 33%;
            height: 250px;
            object-fit: cover;
        }

        .img0304 {
            width: 33%; 
            height: 250px;
            object-fit: cover;
        }
    
        .img0404 {
            width: 32%; 
            height: 250px;
            object-fit: cover;
        }
    
    
        /* FOOTER --------------------------------------------------------------------------------------------------------*/
    
        footer {
            width: 100%;
            height: 30vh;
            background-color: var(--sombre);
            z-index: 15;
            display: flex;
        }
    
        .logo_footer {
            margin: 0 auto;
            width: 100%;
            max-width: 200px;
            z-index: 10;
        }
    
        .logo_footer:hover {
            transform: scale(101%);
        }
}

@media screen and (max-width: 380px) {

    .logo_titre {
        max-width: 180px;
    }

    .icons {
        width: 100px;
    }

    .twitter {
        height: 30px;
        width: 30px;
    }

    .youtube {
        height: 30px;
        width: 30px;
    }

    .insta {
        height: 30px;
        width: 30px;
    }

    .linkedin {
        height: 30px;
        width: 30px;
    }

    .email {
        z-index: 11;
        padding-top: 5vh;
        font-size: 11px;
    }

    .qualifications {
        position: absolute;
        width: 35%;
        z-index: 12;
        right: 2vw;
        top: 45vh;
        background-color: var(--sombre);
        border: var(--cerise) 2px solid;
    }

    .titre_q {
        display: flex;
        justify-content: center;
        font-size: 3.5vw;
        color: var(--blanc);
        font-family: "Jet Brains Mono";
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .text_q {
        display: flex;
        justify-content: center;
        font-size: 3vw;
        color: var(--blanc);
        font-family: "Jet Brains Mono";
        text-align: center;
        padding: 0 5px;
    }

    .img0404 {
        width: 30%; 
        height: 250px;
        object-fit: cover;
    }

}